/*
CSS Syntax
selector{
	propertyA: valueA;
	propertyB: valueB;
}
*/

/*
 * - universal selector; it selects all eleemnts in the webpage; it is the least prioritiezed selector
font-family- "Courier New", monospace;
	it sets the font to be used by the browser which is Courier New. Since the specific font is not existing in all browsers. monospace gives the browser an option to use if Courier New is not existing. It will search its fonts that belong to monospace

font-size sets the font size to the specified measurement
px - pixels

*/

*{
	font-family: "Courier-New", monospace;
	font-size: 20px;
}

/*
	html selector - used to select all elements inside the html tag
*/
html{
	/*modifies the scroll behavior when navigating through the page */
	scroll-behavior: smooth;
}	
/*body selector - selects all elements inside the body tag
	background-color - modifies the background color of the elements inside the selector*/

body{
	background-color: skyblue;
}

nav{
	background-color: white;
}
 /*
 child selector (>) - allows selection of the child of the first selector
 SYNTAX: firstSelector > secondSelector

 display:  inline-block; - it sets the display of the element into inline-block
 inline-block - makes the element inline with its siblings, but still is block outside its parent element.
 
float - changes the horizontal alignment of the element and puts it on the specified location/position
in this codebase, the div will be positioned on the right side of the page
 */
nav >div{
	display: inline-block;
	float: right;
}
/* tag selectors*/

h1{
	/*rem - root element measureemnt; html tag is the root element. by default, rem - 16px
		computation:  n*rem; n=number attached before the rem
		!important - overrides/disregards the ranking of priority and makes the property the priority
		*/
	color: red;
	font-size:2rem;
	text-align: center;
}

section{
	/*
	height - modifies the height of the element
	vh - measuring the viewport height. the measurement of the monitor of the user

	*/
	height: 100vh;
	text-align:center;
}

h2{
	font-size: 1.5rem;
}

ol{
	/* 
	list-style-type - changes the style of bullets/numbering in a list
	*/
	list-style: none;
}
/*
selector: hover - changes the style of the a tag;
*/

a:hover{
	background-color: #b4d6de;
}

/*
ID Selectors
#idName{
	property:  value;
	}
	*/

#zuitt-motto{
	/*letter-spacing - changes the spaces between letters of the text element
	*/
	letter-spacing: 5px;
	font-size: 30px;
}

/*
class selectors
.className{
	property:  value;
}
*/
.offered-items{
	/*text-transform changes the casing of the text element
	*/
	text-transform: uppercase;
}

/*
attribute selector
	tag[attribute]{
	property:  value;
	}
	*/

input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: yellow;
}

/*
Combination Selectors

adjacent sibling selector -selects the sibling directly after the first selector. both selectors doesn't have to belong to the same type (tag, id, class could also be used)
firstSelector +secondSelector{
	property:  value;
}
*/

h3 + img{
	height: 300px;
	width: 300px;
	/*border-radius - round the corner of the img element*/
	border-radius: 150px;
}

/*
descendant selector - selects the specified element that is a descendant of the first element

firstSelector descendent{
	property:  value;
}
*/


section li{
	color: #075966;
}

/*general sibling selector selects the sibling element that comes after the first element
	firstSelector ~ generalSibling */

h2 ~ a{
	/*text-decoration changes the decoration of the text, usually lining the text.
		other values could be:  overline, line-through, underline;
	*/
	text-decoration: none;
}

form{
	color: rgb(0, 0, 128);
	text-align: center;
	background-color: white;
	/*shorthand for modifying the border*/
	border: 2px solid black;
	/*vw - the measurement of the width of the user's monitor*/
	width: 25vw;
	/*
	position - dictates the position of the element
		have the exact measurement with regards to the posibtion of the element
			relative- makes the position of the element relative to its direction
	*/
	position: relative;
	left: 37.25%;
}

button{
	color: white;
	background-color: #CF0053;
	border: 0;
	border-radius: 15px;
}