/* external styling to a <p> */
#para3{
	color: orange;
	
}
/* using Universal selector to change font-family and font-size of all elements*/
*{
	font-family: arial;
	font-size: 25px;
}
/* using type selector to change font-size of h1 */
h1{
	font-size: 50px;
}
/* using id selector to change h2 tags to uppercase letters*/
#header2{
	text-transform: uppercase;
}
/* using class selector to change background-color of specified class */
.langLearn{
	background-color: #F0E68C;
}
/* using attribute selector to change border style of specified attribute */
li[style]{
	border-color: seagreen;
	border-width: 2px;
}
/* using adjacent sibling selector to change the list style type */
img + ol{
	list-style-type: none;
}
/* using descendant selector to change dimensions of the image tag */
div img{
	border-radius: 150px;
	height: 150px;
	width: 150px;
}
/* using generic sibling selector to change alignment of specified <p> */

h4 ~ p{
	text-align: center;
	color: black;
}
/* using child selector to changeletter spacing of specified list */
div > ol{
	letter-spacing: 10px;
}
